@font-face {
    font-family: 'MalintonMedium';
    src: url('fonts/MalintonTrialVersion-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MalintonBlack';
    src: url('fonts/MalintonTrialVersion-Black.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f7f1de;
    overflow: hidden;         /* Hide both scrollbars */
}

body {
    min-height: 100vh;
    width: 100vw;
    background-color: #f7f1de;
    overflow: auto;
    padding-top: 80px;
    scrollbar-width: none;    /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

body::-webkit-scrollbar {
    display: none;            /* Chrome, Safari, Opera */
}

.top-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 80px;
    background: #558E62;
    z-index: 10;
    box-shadow: 0 4px 8px rgba(0,0,0,0.12);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

div.scrollmenu {
    background-color: #558E62;
    overflow: auto;
    white-space: nowrap;
    font-family: MalintonMedium, sans-serif;
    scroll-behavior: smooth;
    scrollbar-width: none;    /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}

div.scrollmenu a {
    display: inline-block;
    background-color: #558E62;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    opacity: 0.5;
    transition: opacity 0.3s, background 0.3s;
}

div.scrollmenu a.active {
    opacity: 1;
    color: #fff;
}

.menu-image {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    background: #f7f1de;
    border: none;
    box-shadow: none;
}

section {
    background: transparent !important;
    margin: 0;
    padding: 0;
    border: none;
    line-height: 0;
}

section#Smoothie {
    padding-top: 0px;
}



